@font-face {
    font-family: helvetica;
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: helveticaLight;
    src: url(../fonts/HelveticaNeueLt.ttf);
}

@mixin helvetica(){
  font-family: 'Roboto', sans-serif;
}

@mixin helvetica-light(){
  font-family: helveticaLight;
}
