<div class="create-fixtures-wrapper">
  <div class="body-create-fixtures">
    <!--Top Section-->
    <div class="nav-create-fixtures">
      <span>CREATE FIXTURES</span>
    </div>

    <!--Fixtures Items-->
    <div class="create-fixtures-items">
      <div><select id="tournament-fixtures" ng-model="category.id" name="cars" ng-change="getgroups()">
        <option value="" selected disabled>CATEGORY NAME</option>
    <option ng-repeat="category in fixturesinfo" ng-value="$index" >{{category.name}}</option>
        </select></div>
      <div><select id="group-fixtures" name="cars" ng-model="fixture.matchtype_id">
        <option value=""selected disabled>MATCH TYPE</option>
        <option ng-repeat="matchtype in matchtypes" ng-value="matchtype.id">{{matchtype.name}}</option>

        </select></div>
      <div>
        <select id="tournament-fixtures" name="cars" ng-model="fixture.group_id" ng-change="getteams()" ng-disabled="fixture.matchtype_id!=1">
        <option value="" selected >GROUP NAME</option>
        <option ng-repeat="group in groups " ng-value="group.id" >{{group.name}}</option>
        </select></div>
      <div><input class="date-time " type="date " name="date "></div>
      <div><input class="date-time " type="time " name="time "></div>

    </div>

    <!--Fixtures Items-->
    <div class="create-fixtures-items ">
      <div><select id="tournament-fixtures " name="cars " ng-model="fixtureindex['team-1_id'] ">
      <option value=" " selected disabled>TEAM A</option>
      <option ng-repeat="team in teams " ng-value="team.id" >{{team.name}}</option>
    </select><input type="text "></div>

      <div><select id="group-fixtures " name="cars " ng-model="fixtureindex['team-2_id'] ">
      <option value=" "selected disabled>TEAM B</option>
      <option ng-repeat="team in teams " ng-value="team.id" >{{team.name}}</option>
      </select><input type="text "></div>

      <div><select id="tournament-fixtures " name="cars " ng-model="fixtureindex.venue_id ">
      <option value=" " selected disabled>VENUE</option>
      <option value="saab ">Saab</option>
      <option value="fiat ">Fiat</option>
      <option value="audi ">Audi</option>
      </select></div>
    </div>

    <!--Create Fixture Button-->
    <div class="button-create-fixtures ">
      <button type="submit " name="button " ng-click="addnewtournament() ">Create Fixtures</button></div>
  </div>
</div>

</div>


</div>