<div class="list-wrapper">


    <div class="block-addteam">
        <div class="addteam-body">
            <div class="list-nav">
                <span>{{groupname}}</span>
            </div>


            <div class="addteam-item" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="team in groupteams">
                <span class="addteam-teamname">{{team.team_name}}</span>
                <span class="addteam-svg" ng-click="removeteamfromgroup(team)"><svg enable-background="new 0 0 51.976 51.976" version="1.1" viewBox="0 0 51.976 51.976" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
    <path d="m44.373 7.603c-10.137-10.137-26.632-10.138-36.77 0s-10.137 26.632 0 36.77 26.632 10.138 36.77 0c10.137-10.138 10.137-26.633 0-36.77zm-8.132 28.638c-0.781 0.781-2.047 0.781-2.828 0l-7.425-7.425-7.778 7.778c-0.781 0.781-2.047 0.781-2.828 0s-0.781-2.047 0-2.828l7.778-7.778-7.425-7.425c-0.781-0.781-0.781-2.048 0-2.828 0.781-0.781 2.047-0.781 2.828 0l7.425 7.425 7.071-7.071c0.781-0.781 2.047-0.781 2.828 0s0.781 2.047 0 2.828l-7.071 7.071 7.425 7.425c0.781 0.781 0.781 2.047 0 2.828z"/></svg></span>
            </div>
            <!--
<div class="addteam-item" ng-class-odd="'odd'" ng-class-even="'even'" >
                <span class="addteam-teamname" >Team 4</span>
<span class="addteam-svg" ng-click="removeteamfromgroup(7)"><svg enable-background="new 0 0 51.976 51.976" version="1.1" viewBox="0 0 51.976 51.976" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
    <path d="m44.373 7.603c-10.137-10.137-26.632-10.138-36.77 0s-10.137 26.632 0 36.77 26.632 10.138 36.77 0c10.137-10.138 10.137-26.633 0-36.77zm-8.132 28.638c-0.781 0.781-2.047 0.781-2.828 0l-7.425-7.425-7.778 7.778c-0.781 0.781-2.047 0.781-2.828 0s-0.781-2.047 0-2.828l7.778-7.778-7.425-7.425c-0.781-0.781-0.781-2.048 0-2.828 0.781-0.781 2.047-0.781 2.828 0l7.425 7.425 7.071-7.071c0.781-0.781 2.047-0.781 2.828 0s0.781 2.047 0 2.828l-7.071 7.071 7.425 7.425c0.781 0.781 0.781 2.047 0 2.828z"/></svg></span>
            </div>
-->

        </div>



        <div class="addteam-body">





            <div class="list-nav">
                <span>REMAINING TEAMS</span>
            </div>

            <input type="text" ng-model="search" placeholder="Search">
        
            <div class="addteam-item" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="team in teamsnotincludedingroup | filter:search:strict">
                <span class="addteam-teamname">{{team.name}}</span><span class="addteam-svg" ng-click="addteamtogroup(team)"> <a ><svg enable-background="new 0 0 52 52" version="1.1" viewBox="0 0 52 52" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
<path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M38.5,28H28v11c0,1.104-0.896,2-2,2  s-2-0.896-2-2V28H13.5c-1.104,0-2-0.896-2-2s0.896-2,2-2H24V14c0-1.104,0.896-2,2-2s2,0.896,2,2v10h10.5c1.104,0,2,0.896,2,2  S39.604,28,38.5,28z"/>
</svg></a></span>
            </div>


        </div>


    </div>

    <div class="button-div">
        <button type="submit" name="button" ng-click="goback()">
           
           Done</button>
    </div>
</div>
