<!--ADMINISTRATOR DASHBOARD-->
<div class="row">
  <div class="col-md-6">
    <input type="date" ng-model="date.from">
  </div>
  <div class="col-md-6">
    <input type="date" ng-model="date.to">
  </div>
  <button type="button" class="btn btn-default primarybg" ng-click="getdashboarddatabydate()">Submit Date</button>
</div>

<div class="container-fluid">



</div>




<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>