<div class="create-fixtures-wrapper">
    <div class="body-create-fixtures">

        <!--Create Fixture Button-->
        <div class="button-create-fixtures">
            <div>
                <button type="submit" name="button" ng-click="addnewfixture()">ADD FIXTURES</button>
            </div>
        </div>
        <div>
            <select data-placeholder="Category Search" ng-model="search.category">
                <option disabled>CATEGORY</option>
                <option value="">All</option>
                <option ng-repeat="cat in fixturesinfo" value="{{$index}}" ng-value="$index">{{cat.name}} under {{cat.age}}</option>
            </select>
        </div>

        <!--Top Section-->
        <div class="nav-create-fixtures">
            <span>CREATE FIXTURES</span>
        </div>


        <!--Fixtures Items-->
        <div id="fixture-item-{{$index}}" class="red-block" ng-repeat="fixture in fixtures" ng-show="category[$index].index==search.category||search.category==''">

            <div class="fixture-action-buttons-wrapper">
                <button class="action-button" ng-if="(fixture | getidproperty)" ng-click="submitfixture($index)">SUBMIT</button>
                <button class="action-button" ng-if="(fixture | getidproperty)" ng-click="cancelfixture($index)">CANCEL</button>
                <button class="action-button" ng-if="!(fixture | getidproperty)" ng-click="editfixture($index)">EDIT</button>
                <button class="action-button" ng-if="!(fixture | getidproperty)" ng-click="deletefixture($index)">DELETE</button>
            </div>

            <div class="create-fixtures-items">
                <fieldset class="fixture-data1-fieldset" ng-disabled="!(fixture | getidproperty)">
                    <div class="fieldset-inner-wrap">
                        <div class="input-wrapper">
                            <label class="input-small-label">CATEGORY</label>
                            <select data-placeholder="Category" ng-model="category[$index].index" ng-change="getgroups(category[$index])">
                                <option value="" selected disabled>CATEGORY</option>
                                <option ng-repeat="cat in fixturesinfo" value="{{$index}}" ng-value="$index">{{cat.name}} under {{cat.age}}</option>
                            </select>
                        </div>

                        <div class="input-wrapper">
                            <label class="input-small-label">MATCH TYPE</label>
                            <select data-placeholder="Match Type" ng-change="getteams($index,fixture)" ng-model="fixture.matchtype_id">
                                <option value="" selected>Match Type</option>
                                <option ng-repeat="matchtype in matchtypes" ng-value="matchtype.id" value='{{matchtype.id}}' ng-selected="fixture.matchtype_id == matchtype.id">{{matchtype.name}}</option>
                            </select>
                        </div>

                        <div ng-if="fixture.matchtype_id == 1" class="input-wrapper">
                            <label class="input-small-label">GROUP NAME</label>
                            <select data-placeholder="Groups" id="abc" ng-model="fixture.group_id" ng-disabled="!fixture.matchtype_id==1" ng-change="getteams($index,fixture)">
                                <option ng-repeat="group in fixturesinfo[category[$index].index].groups" value="{{group.id}}" ng-selected="fixture.group_id == group.id">{{group.name}}</option>
                            </select>
                        </div>

                        <div class="input-wrapper">
                            <label class="input-small-label">VENUE</label>
                            <select name="cars" ng-model="fixture.venue_id">
                                <option ng-repeat="venue in venues" value="{{venue.id}}" ng-value="venue.id">{{venue.name}}</option>
                            </select>
                        </div>

                        <div class="input-wrapper">
                            <label class="input-small-label">DATE</label>
                            <input class="date-time" type="date" ng-model="fixture.date" name="date">
                        </div>
                        <div class="input-wrapper">
                            <label class="input-small-label">TIME</label>
                            <input class="date-time" type="time" ng-model="fixture.time" name="time">
                        </div>
                    </div>
                </fieldset>

            </div>

            <!--Fixtures Items-->
            <div class="create-fixtures-items">
                <div>
                    <fieldset class="fixture-data2-fieldset" ng-disabled="!(fixture | getidproperty)">
                        <select ng-if="fixture.matchtype_id == 1" ng-model="fixture['team1_id']">
                            <option value="0" ng-selected="fixture.label_1 != ''">No Team</option>
                            <option ng-repeat="team in fixturesinfo[category[$parent.$index].index].groups[category[$parent.$index].selectedgroupindex].teams" value="{{team.id}}" ng-selected="fixture['team1_id'] == team.id">{{team.name}} </option>
                            <!--[selectedgroupindex].teams-->
                        </select>
                        <select ng-if="fixture.matchtype_id != 1" ng-model="fixture['team1_id']">
                            <option value="0" ng-selected="fixture.label_1!= ''">No Team</option>
                            <option ng-repeat="team in teamofcategory[fixturesinfo[category[$parent.$index].index].id]" value="{{team.id}}" ng-selected="fixture['team1_id'] == team.id">{{team.name}}</option>
                        </select>
                        <input class="label-fixture" type="text" ng-model="fixture.label_1" ng-if="fixture['team1_id'] == 0" placeholder="">
                    </fieldset>
                </div>

                <div class="result-wrapper">

                    <div class="input-wrapper" style="    margin: 0px 4px;">
                        <label class="input-small-label" style="margin: 0; ">Pen </label>
                        <input type="text" ng-model="fixture.results[0].penaltyscore" ng-disabled="!(fixture.results[0] | getscoreproperty)" style="text-align: center; ">
                    </div>


                    <div style="text-align: center;border: 2px solid #364870;font-size: 30px; padding: 3px;    height: 34px;display: flex;align-items: center;">
                        <div class="input-wrapper" style="display: inline;">
                            <!--<label class="input-small-label">Pen</label>-->
                            <input type="text" ng-model="fixture.results[0].score" ng-disabled="!(fixture.results[0] | getscoreproperty)" style="text-align: center;font-size: 30px;">
                        </div>

                        <p style="display: inline">-</p>


                        <div class="input-wrapper" style="display: inline;">
                            <!--<label class="input-small-label">Goals</label>-->
                            <input type="text" ng-model="fixture.results[1].score" ng-disabled="!(fixture.results[0] | getscoreproperty)" style="text-align: center;font-size: 30px;">
                        </div>

                    </div>


                    <div class="input-wrapper" style="    margin: 0px 4px;">
                        <label class="input-small-label" style="margin: 0; ">Pen</label>
                        <input type="text" ng-model="fixture.results[1].penaltyscore" ng-disabled="!(fixture.results[0] | getscoreproperty)" style="text-align: center; ">
                    </div>

                    <!-- SUBMIT RESULT -->
                    <a ng-click="submitresult($index)" ng-if="(fixture.results[0] | getscoreproperty)&&fixture.id" class="result-action-a">
                        <svg class="result-action-button" enable-background="new 0 0 50 50" version="1.1" viewBox="0 0 50 50" xml:space="preserve">
                            <circle cx="25" cy="25" r="25" fill="#25AE88" />
                            <polyline points="38 15 22 33 12 25" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                        </svg>
                    </a>

                    <!-- EDIT RESULT -->
                    <a ng-click="editresult($index)" ng-if="!(fixture.results[0] | getscoreproperty)" class="result-action-a">
                        <svg class="result-action-button" enable-background="new 0 0 469.331 469.331" version="1.1" viewBox="0 0 469.33 469.33" xml:space="preserve">
                            <path d="m438.93 30.403c-40.4-40.5-106.1-40.5-146.5 0l-268.6 268.5c-2.1 2.1-3.4 4.8-3.8 7.7l-19.9 147.4c-0.6 4.2 0.9 8.4 3.8 11.3 2.5 2.5 6 4 9.5 4 0.6 0 1.2 0 1.8-0.1l88.8-12c7.4-1 12.6-7.8 11.6-15.2s-7.8-12.6-15.2-11.6l-71.2 9.6 13.9-102.8 108.2 108.2c2.5 2.5 6 4 9.5 4s7-1.4 9.5-4l268.6-268.5c19.6-19.6 30.4-45.6 30.4-73.3s-10.8-53.7-30.4-73.2zm-141.3 33 45.1 45.1-245.1 245.1-45.1-45.1 245.1-245.1zm-136.7 353.4-44.1-44.1 245.1-245.1 44.1 44.1-245.1 245.1zm263.9-264.4-107.9-107.9c13.7-11.3 30.8-17.5 48.8-17.5 20.5 0 39.7 8 54.2 22.4s22.4 33.7 22.4 54.2c0 18.1-6.2 35.1-17.5 48.8z" />
                        </svg>
                    </a>

                </div>

                <div>

                    <fieldset class="fixture-data2-fieldset" ng-disabled="!(fixture | getidproperty)">

                        <input class="label-fixture" type="text" ng-if="fixture['team2_id'] == 0" ng-model="fixture.label_2">

                        <select ng-if="fixture.matchtype_id == 1" ng-if="fixture.matchtype_id == 1" ng-model="fixture['team2_id']">
                            <option value="0" ng-selected="fixture.label_2 != ''">No Team</option>
                            <option ng-repeat="team in fixturesinfo[category[$parent.$index].index].groups[category[$parent.$index].selectedgroupindex].teams" value="{{team.id}}" ng-selected="fixture['team2_id'] == team.id">{{team.name}} </option>
                        </select>

                        <select ng-if="fixture.matchtype_id != 1" ng-model="fixture['team2_id']">
                            <option value="0" ng-selected="fixture.label_2 != ''">No Team</option>
                            <option ng-repeat="team in teamofcategory[fixturesinfo[category[$parent.$index].index].id]" value="{{team.id}}" ng-selected="fixture['team2_id'] == team.id">{{team.name}}</option>
                        </select>

                    </fieldset>

                </div>
            </div>
        </div>


    </div>
</div>