<!--<div class="container-fluid">
  <div class="row"><input type="text" ng-model="team.name" placeholder="Enter Team Name"></div>
  <div class="row"> <input type="text" ng-model="team.initials" placeholder="Enter Initial Team Name "></div>
  <div class="row">Upload Team Logo :<input type="file" file-model="team.logo" on-change-event="uploader()"></div>



  <button ng-click="registerteam()">Submit</button>
  <div class="row"></div>

</div>-->

<div class="container-fluid">
	<div class="create-teams-wrapper">
		<div class="body-create-team">
			<!--  TOP SECTION -->
			<div class="nav-create-team">
				<span><input class="disable" type="text" placeholder="CREATE TEAM" disabled></span>
			</div>
			<!--  FORM SECTION -->
			<div class="form-create-team">
				<form ng-submit="registerteam()">
					<label for="team-name">Team Name :</label>
					<input id="team-name" type="text" ng-model="team.name" required><br>
					<label for="team-name">Select Tournament :</label>
					<div class="tournament-wrapp" style="display: inline;">
					<select name="tournaments">
						<option value="volvo">Mumbai</option>
						<option value="saab">Mumbai</option>
						<option value="mercedes">Mumbai</option>
						<option value="audi">Mumbai </option>
					</select>
					</div><br>
					<label for="initial-team-name">Initial Team Name :</label>
					<input id="initial-team-name" ng-model="team.initials" type="text" required>
					<!---->
					<label for="file-upload">Upload Logo :</label>
					<input id="file-upload" type="file" file-model="team.logo" on-change-event="uploader()">

					<!-- SUBMIT BUTTON -->
					<div class="create-team-button text-center">
						<button type="submit" name="button" class="submit-button">Submit</button>
						<button type="cancel" name="button" ng-click="cancelaction()" class="submit-button">Cancel</button>
					</div>
				</form>

			</div>

		</div>


	</div>

</div>


</div>
</div>
