<div class="albums-wrapper">

    <div class="button-div">
        <button type="submit" name="button" ng-click="createalbum()">
            <svg enable-background="new 0 0 52 52" version="1.1" viewBox="0 0 52 52" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M38.5,28H28v11c0,1.104-0.896,2-2,2  s-2-0.896-2-2V28H13.5c-1.104,0-2-0.896-2-2s0.896-2,2-2H24V14c0-1.104,0.896-2,2-2s2,0.896,2,2v10h10.5c1.104,0,2,0.896,2,2  S39.604,28,38.5,28z" />
            </svg>
            CREATE ALBUM
        </button>
    </div>

    <!--
    <div>

        <ul>

            <li> PIXOLO </li>
            <li ng-repeat="a in arrr">
                {{a}}
            </li>

        </ul>

        <button ng-click="addNumber()">ADD</button>

        <input type="text" ng-model="num.num" />
        <input type="text" ng-model="num.name" />
        <button ng-click="rem()">a</button>
        <button ng-click="add()">R</button>


    </div>
-->

    <!--    -->

    <div class="gallery-item" ng-repeat="album in albums">
        <!--    <button onclick="deletephoto(angular.element(this).scope().photo,angular.element(this).scope().album.id)">R</button>-->

        <input id="fileInput{{$index}}" file-model="upload.name" on-change="uploadimage(album)" type="file" style="display:none;" />

        <input type="text" ng-model="album.name" ng-blur="storealbum(album)" ng-disabled="album.id" class="group-name-input" />
        <div class="photos-wrapper">
            <ul class="photos-list" id="photoslider{{album.id}}">


                <li class="photo-item add-photo-wrapper" ng-click="openfilechooser($index,album)">
                    <svg enable-background="new 0 0 491.86 491.86" viewBox="0 0 491.86 491.86" xml:space="preserve">
                        <path d="m465.17 211.61h-184.92v-184.92c0-8.424-11.439-26.69-34.316-26.69s-34.316 18.267-34.316 26.69v184.92h-184.92c-8.423-1e-3 -26.69 11.438-26.69 34.314s18.267 34.316 26.69 34.316h184.92v184.92c0 8.422 11.438 26.69 34.316 26.69s34.316-18.268 34.316-26.69v-184.92h184.92c8.422 0 26.69-11.438 26.69-34.316s-18.27-34.315-26.693-34.315z" fill="#fff" />
                    </svg>
                </li>



                <li class="photo-item" ng-repeat="photos in photos[album.id]">
                    <div class="photo-actions" onclick="deletephoto(angular.element(this).scope().photos.id,angular.element(this).scope().photos.name,angular.element(this).scope().album.id)">
                        <svg enable-background="new 0 0 774.266 774.266" version="1.1" viewBox="0 0 774.27 774.27" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <path d="m640.35 91.169h-103.38v-67.178c0-13.522-10.907-23.991-24.428-23.991-1.312 0-2.187 0.438-2.614 0.875-0.438-0.437-1.313-0.875-1.75-0.875h-246.46c-13.521 0-23.99 10.469-23.99 23.991v67.179h-103.82c-29.667 0-52.783 23.116-52.783 52.783v86.368h45.803v491.6c0 29.668 22.679 52.346 52.346 52.346h415.7c29.667 0 52.782-22.678 52.782-52.346v-491.6h45.366v-86.368c0-29.667-23.125-52.784-52.783-52.784zm-354.64-43.188h202.84v43.188h-202.84v-43.188zm313.64 673.94c0 3.061-1.312 4.363-4.364 4.363h-415.7c-3.052 0-4.364-1.303-4.364-4.363v-491.6h424.43v491.6zm45.366-539.58h-515.16v-38.387c0-3.053 1.312-4.802 4.364-4.802h506.44c3.053 0 4.365 1.749 4.365 4.802v38.387z" />
                            <rect x="475.03" y="286.59" width="48.418" height="396.94" />
                            <rect x="363.36" y="286.59" width="48.418" height="396.94" />
                            <rect x="251.69" y="286.59" width="48.418" height="396.94" />
                        </svg>
                        <p class="action-text">DELETE</p>
                    </div>
                    <img src="https://www.thegamecrafter.com/overlays/largesquareboard.png" style="background-image:url({{'gallery/'+photos.name|imagepath}})" />
                </li>




            </ul>
        </div>

        <svg ng-click="deletealbum(album)" class="close-btn" viewBox="0 0 44 44" enable-background="new 0 0 44 44">
            <path d="m22,0c-12.2,0-22,9.8-22,22s9.8,22 22,22 22-9.8 22-22-9.8-22-22-22zm3.2,22.4l7.5,7.5c0.2,0.2 0.3,0.5 0.3,0.7s-0.1,0.5-0.3,0.7l-1.4,1.4c-0.2,0.2-0.5,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.5-7.5c-0.2-0.2-0.5-0.2-0.7,0l-7.5,7.5c-0.2,0.2-0.5,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-1.4-1.4c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l7.5-7.5c0.2-0.2 0.2-0.5 0-0.7l-7.5-7.5c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.2-0.2 0.5-0.3 0.7-0.3s0.5,0.1 0.7,0.3l7.5,7.5c0.2,0.2 0.5,0.2 0.7,0l7.5-7.5c0.2-0.2 0.5-0.3 0.7-0.3 0.3,0 0.5,0.1 0.7,0.3l1.4,1.4c0.2,0.2 0.3,0.5 0.3,0.7s-0.1,0.5-0.3,0.7l-7.5,7.5c-0.2,0.1-0.2,0.5 3.55271e-15,0.7z" />
        </svg>

    </div>
</div>
