<div class="login-div">
    <div class="login-div1">
        <div>
            <form class="login-form" ng-submit="login()">
                <p class="login-text"><span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x"></i>
                                </span></p>


                <input type="email" class="login-username" ng-model="adminpaneluser.email" required="true" placeholder="Email" />
                <input type="password" class="login-password" ng-model="adminpaneluser.password" required="true" placeholder="Password" />
                <input type="submit" name="Login" value="Login" class="login-submit" /><br>
                <a href="#" class="login-forgot-pass">Forgot Password?</a>
            </form>
        </div>
    </div>

    <div class="underlay-black"></div>
</div>
