<div>
    <div class="fcblogo">
        <img src="img/fcb.png" height="67" width="67">
    </div>

    <div class="menu-items-wrapper">
        <ul class="menu-items">
            <li class="menu-item active">
                <a href="#/home">
                    <p class="menu-item-text">Dashboard</p>
                    <svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
                        <g>
                            <g>
                                <polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
                            </g>
                        </g>
                    </svg>
                </a>
            </li>

            <li class="menu-item">
                <a href="#/tournaments">
                    <p class="menu-item-text">Tournaments</p>
                    <svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
                        <g>
                            <g>
                                <polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
                            </g>
                        </g>
                    </svg>
                </a>
            </li>

            <li class="menu-item">
                <a href="#/teams">
                    <p class="menu-item-text">Teams</p>
                    <svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
                        <g>
                            <g>
                                <polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
                            </g>
                        </g>
                    </svg>
                </a>
            </li>

            <li class="menu-item">
                <a href="#/gallery">
                    <p class="menu-item-text">Gallery</p>
                    <svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
                        <g>
                            <g>
                                <polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            
            <li class="menu-item">
                <a href="#/registrations">
                    <p class="menu-item-text">Registrations</p>
                    <svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
                        <g>
                            <g>
                                <polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            <li class="menu-item">
                <a href="#/pointtablegenerator">
                    <p class="menu-item-text">Point Table Generator</p>
                    <svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
                        <g>
                            <g>
                                <polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
