<!--<div class="container-fluid">
  <div class="row"><input type="text" ng-model="team.name" placeholder="Enter Team Name"></div>
  <div class="row"> <input type="text" ng-model="team.initials" placeholder="Enter Initial Team Name "></div>
  <div class="row">Upload Team Logo :<input type="file" file-model="team.logo" on-change-event="uploader()"></div>



  <button ng-click="registerteam()">Submit</button>
  <div class="row"></div>

</div>-->

<div class="container-fluid">
	<div class="create-teams-wrapper">
		<div class="body-create-team">
			<!--  TOP SECTION -->
			<div class="nav-create-team">
				<span><input class="disable" type="text" placeholder="POINT TABLE GENERATOR"></span>
			</div>
			<!--  FORM SECTION -->
			<div class="form-create-team">
				<form class="pointtablel-form">

					<!--SELECT TOURNAMENT-->
					
						<label for="team-name">Select Tournament :</label>
						<div class="tournament-wrapp">
							<select name="tournaments">
								<option value="volvo">Mumbai</option>
								<option value="saab">Mumbai</option>
								<option value="mercedes">Mumbai</option>
								<option value="audi">Mumbai </option>
							</select>
						</div>
					

					<!--SELECT CATEGORY-->
					<div class="point-table-wrapp" style="margin-top: :4%">
					<label for="team-name">Select Category :</label>
					<div class="tournament-wrapp" style="margin: 4% 30% 0 4%;">
						<select name="tournaments">
							<option value="volvo">Mumbai</option>
							<option value="saab">Mumbai</option>
							<option value="mercedes">Mumbai</option>
							<option value="audi">Mumbai </option>
						</select>
					</div>
					</div>

					<!--SELECT GROUP-->
					<div class="point-table-wrapp" style="margin-top: :4%">
					<label for="team-name">Select Group :</label>
					<div class="tournament-wrapp">
						<select name="tournaments">
							<option value="volvo">Mumbai</option>
							<option value="saab">Mumbai</option>
							<option value="mercedes">Mumbai</option>
							<option value="audi">Mumbai </option>
						</select>
					</div>
					</div>


					<!-- SUBMIT BUTTON -->
					<div class="create-team-button point-table-btn text-center">
						<button type="submit" name="button" class="submit-button">Submit</button>
						<button type="cancel" name="button" ng-click="cancelaction()" class="submit-button">Cancel</button>
					</div>
				</form>

			</div>

		</div>


	</div>

</div>


</div>
</div>
