<div class="registrations-wrapper">
    
    <div class="reg-title-wrapper">
        <h2 class="title">Bangalore Registrations</h2>
    </div>

    <div class="top-btns">

        <select class="filter-dropdown" ng-model="filter.center" style="color: #000">
        <option value="">All</option>
        <option value="whitefield">Whitefield</option>
        <option value="sahakar nagar">Sahakar Nagar</option>
        <!--<option value="ECC center Whitefield">ECC center Whitefield</option>-->
        
        <option value="Trio World school Sahakara Nagar">Trio World school Sahakara Nagar</option>
        
        <option value="Sarjapur">Sarjapur
</option>
        <option value="Koramangala">Koramangala</option>
        <option value="St Andrew's Bandra">St Andrew's Bandra</option>
        <option value="Tiger Play Lokhandwala">Tiger Play Lokhandwala</option>
        </select>


        <button class="export-excel-btn" ng-click="getexcel()">Excel</button>
    </div>


    <table class="reg-list-table">
        <thead>
            <tr>
                <td>
                    Sr. No.
                </td>
                <td>
                    Name
                </td>
                <td>
                    School
                </td>
                <td>
                    Contact
                </td>
                <td>
                    Center
                </td>
                <td>
                    Url Params
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in registrations | filter:filter">
                <td>
                    {{$index+1}}
                </td>
                <td>
                    {{player.name}}
                </td>
                <td>
                    {{player.school}}
                </td>
                <td>
                    {{player.contact}}
                </td>
                <td>
                    {{player.center}}
                </td>
                <td>
                    {{player.url_params}}
                </td>
            </tr>
        </tbody>
    </table>

</div>
