.block-addteam {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.addteam-body {
    width: 100%;
        margin-left: 20px;
        background-color: #e1e1e1;
        border-radius: 15px;
    span {
            display: block;
    margin: 0 auto;
    }
        
}

.addteam-item {
    
        display: flex;
        align-items: center;
        justify-content: center;
       
    svg {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }
    
    .addteam-teamname {
        background-color: $list-item-color;
        margin: 10px;
        color: $text-color;
        border-radius: 10px;
        padding: 0 25px;
    }
    
    .addteam-svg {
            margin: 10px;
    }
}