.main-wrapper {
    display: flex;
    height: 100%;
}
.main-sidebar {
    flex-basis: 20%;
    height: 100vh;
    background-image: url(../img/texture.jpg);
    position: relative;
}
.main-panel {
    flex-basis: 80%;
    max-width: 80%;
}
.main-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: right;
    left: 0%;
    z-index: -10;
}
