.create-fixtures-wrapper {
    @include helvetica();
    width: 100%;
    background-color: #fff;
    padding: 50px;
}

//  Top Section
.nav-create-fixtures {
    background-color: $secondary-color;
    color: #fff;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    margin-top: 10px;
}

.red-block {
    background-color: #f9f9f9;
    border-radius: 4px;
    margin: 20px 0;
    height: 130px;
    border: 1px solid #ccc;
    padding: 0px 0px;
    height: 110px;
}

//  Body Section
.body-create-fixtures {
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: 0px;
    height: 70vh;
    overflow-y: scroll;
    .button-create-fixtures {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 70%;
        text-align: center;
        background: white;
        margin-bottom: 10px;
        top: 76px;
        button {
            background-color: $yellow;
            border-radius: 5px;
            color: #fff;
            box-shadow: 1px 1px #fff;
            width: 170px;
            height: 40px;
            font-size: 1em;
            margin: 0 auto;
            display: block;
        }
    } // Create Fixture items
    .create-fixtures-items {
        @include helvetica();
        color: #fff;
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        border-radius: 10px;
        padding: 0 10px;
        margin: 0;
        span {
            font-size: 1em;
            margin-left: 40%;
        }
        label {
            display: block;
            text-align: center;
            color: #fff;
            font-weight: lighter;
            margin-top: 15px;
            background-color: $secondary-color;
            font-size: .8em;
        }
        select {
            color: $text-color;
            border-radius: 2px;
            padding: 2px;
            width: 120px;
            height: 22px;
            margin: 3px 0;
            font-size: 12px;
            &:disabled {
                background-color: #f9f9f9;
                font-weight: bold;
                font-size: 12px;
                color: $text-color;
                border: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                ::-ms-expand {
                    display: none;
                }
            }
        }
        input[type='text'] {
            color: $text-color;
            width: 30px;
            text-transform: capitalize;
            border-radius: 2px;
            padding: 2px;
            height: 22px;
            margin: 3px 0;
            font-size: 12px;
            &:disabled {
                background-color: #f9f9f9;
                font-weight: bold;
                font-size: 12px;
                color: $text-color;
                border: none;
            }
        }
        .date-time {
            color: $text-color;
            width: 120px;
            text-transform: capitalize;
            border-radius: 2px;
            padding: 2px;
            height: 22px;
            margin: 3px 0;
            font-size: 12px;
            border: 1px solid #ccc;
            outline: none;
            &:disabled {
                background-color: #f9f9f9;
                font-weight: bold;
                font-size: 12px;
                color: $text-color;
                border: none;
            }
        }
    }
}

.button-create-fixtures {}

.result-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .result-action-a {
        margin: 0 5px;
        cursor: pointer;
        &:hover {
            .result-action-button {
                transform: scale(1.2);
            }
        }
    }
    .result-action-button {
        width: 20px;
        height: 20px;
    }
}
