.submit-button {
  margin-top: 20px;
}

.form-create-team {
  @include helvetica();
  background-color: $light-bg;
  border-radius: 15px;
  margin: 50px;
  height: 100%;
  padding-bottom: 20px;


}
.tournament-wrapp{
	display: inline;
	display: inline;
    margin: 4% 30% 0 4%;
}

form {

 label, input {
  display: inline-block;
  text-transform: capitalize;
  }

label {
    width: 35%;
    text-align: right;
    color: $text-color;
    font-weight: lighter;
}

label + input {
    width: 30%;
    margin: 4% 30% 0 4%;
}

input[type=file] {
    display: inline;
    color: $text-color;
    margin-bottom: 20px;
}

}


.create-teams-wrapper {
  @include helvetica();
  width: 100%;
  background-color: #fff;
  padding: 50px;




  .nav-create-team {
::placeholder {color: #fff;font-size: 1.2em;}
background-color: $secondary-color;
color: $text-color;
display: flex;
justify-content: space-around;
height: 50px;
align-items: center;
border-radius: 10px;
input[class*="disable"]{
  text-transform: capitalize;
  width: 100%;
  background-color: $secondary-color;
  border: none;
  text-align: center;

}
  }

  .body-create-team {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #e1e1e1;
    border-radius: 15px;
    span {
      font-size: 1em;
    }

    .create-team-button {

button {
  display: inline-block;
  margin: 0 auto;
  background-color: $yellow;
  border-radius: 5px;
  color: #fff;
  width: 80px;
height: 30px;
font-size: 1em;
}}



  }
}
