.new-block {
    animation: fadeinbackground;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes fadeinbackground {
    from {
        background-color: $primary-color !important;
    }
    to {
        background-color: white;
    }
}

.fixture-data1-fieldset {
    display: block;
    width: 100%;
    .fieldset-inner-wrap {
        display: flex;
    }
    .input-wrapper {
        display: inline;
        flex-basis: 20%;
        width: 20%;
        text-align: center;
        text-align-last: center;
        .input-small-label {
            margin: 0;
        }
    }
}

.fixture-action-buttons-wrapper {
    text-align: right;
    padding: 3px 10px 3px;
    .action-button {
        background-color: $primary-color;
        border: none;
        outline: 0;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 28px;
        border-radius: 3px;
    }
}
