    .albums-wrapper {
        padding: 20px;
        height: 77vh;
        overflow-y: scroll;
        .gallery-item {
            position: relative;
            border-radius: 2px;
            height: 300px;
            text-align: center;
            margin: 30px 0px;
            background: $primary-color;
            text-align: center;
            .group-name-input {
                width: 90%;
                margin: 10px auto;
                height: 35px;
                border-radius: 2px;
                border: none;
                background: #fff;
                &:focus {
                    border-bottom: 3px solid $yellow;
                }
            }
            .photos-wrapper {
                overflow: hidden;
                .photos-list {
                    padding: 0 30px;
                    position: relative;
                    width: 100%;
                    list-style: none;
                    text-align: left;
                    height: 235px;
                    display: flex;
                    align-items: center;
                    .photo-item {
                        display: inline-block;
                        width: 200px !important;
                        height: 200px;
                        text-align: center;
                        margin: 0 10px;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        &:hover {
                            outline: none;
                            border: none;
                            .photo-actions {
                                top: 0px;
                            }
                        }
                        .photo-actions {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 0.3s all;
                            position: absolute;
                            width: 100%;
                            height: 30px;
                            background-color: white;
                            padding: 6px;
                            top: -30px;
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
                            .action-text {
                                font-size: 15px;
                                margin: 0;
                                @include helvetica();
                            }
                            svg {
                                margin: 0 6px;
                                width: 15px;
                                height: 15px;
                            }
                        }
                        img {
                            width: 100%;
                            height: 200px;
                            background-size: cover;
                            background-position: center;
                        }
                    }
                    .add-photo-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(189, 189, 189, 0.72);
                        border-radius: 3px;
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .slick-track {
                    min-width: 1000px !important;
                    //                    width: 100% !important;
                }
            }
            .close-btn {
                width: 30px;
                height: 30px;
                position: absolute;
                top: -11px;
                right: -11px;
                background: white;
                /* padding: 4px; */
                border-radius: 100%;
                box-shadow: 0px 0px 4px #000000;
                cursor: pointer;
            }
        }
    }

    .photos-slider-arrow {
        height: 50%;
        width: 40px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        position: absolute;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6196078431372549);
        z-index: 999;
        right: 5px;
        cursor: pointer;
        svg {
            width: 20px;
            height: 20px;
            path {
                fill: black;
            }
        }
    }

    .photos-next-arrow {
        right: 5px;
    }

    .photos-prev-arrow {
        left: 5px;
        svg {
            transform: rotateZ(180deg);
        }
    }
