/* CREATE BUTTON DIV */

.button-div {
   padding-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    button {
        background-color: $yellow;
        border-radius: 2px;
        color: #fff;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45098039215686275);
        border: none;
        height: 40px;
        font-size: 1.2em;
        outline: none;
        font-weight: 400;
        padding: 0 14px;
        display: flex;
        align-items: center;
        transition: 0.2s all;
        &:hover {
            box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.45098039215686275);
            svg {
                transform: rotateZ(90deg);
            }
        }
        &:active {
            box-shadow: none;
        }
        svg {
            transition: 0.3s all;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            path {
                fill: white;
            }
        }
    }
}


/* LIST OF ITEMS */

.list-wrapper {
    @include helvetica();
    width: 100%;
    background-color: #fff;
    padding: 50px;
    height: 100vh;
    overflow-y: scroll;

    .list-body {
        width: 100%;
        margin: 0px;
        background-color: #e1e1e1;
        border-radius: 15px;
        
        .body-block {
            margin: 25px;
            padding-bottom: 25px;
            margin-bottom: 50px;
        }
        
        .odd {
        background-color: #fff;
            
            
    }
    
    .even {
        background-color: $light-bg;
    }
    }

   
    /* HEADER OF LIST TABLE */
    .list-nav {
        ::placeholder {
            color: #fff;
            font-size: 1.2em;
        }
        background-color: $secondary-color;
        color: #fff;
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        border-radius: 10px;
        padding: 0 25px;
        input {
            width: 100%;
            background-color: $secondary-color;
            border: none;
        }
    }


    span {
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list-item {

        background-color: $list-item-color;
        margin: 10px auto;
        color: $text-color;
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        border-radius: 10px;
        padding: 0 25px;
        
        
                
        .tour-name {
            .error-label {
                display: block;
                margin: 0 auto;
        
                color: red;
                font-size: .9em;
                text-align: center;
                font-weight: 100;
            }
        }
       



        .action-button {
            cursor: pointer;
            svg {
                width: 26px;
                fill: $text-color;
                margin: 0 3px;
            }
            &:hover {
                svg {
                    transform: scale(1.2);
                }
            }
        }
            .disable {
                    background-color: #fff;
                }
                
        input {
            
            margin-left: 8px;
            width: 100%;
            &:placeholder {
                color: $text-color;
                font-size: 1.2em;
                
            }
            &:disabled {
                width: 100%;
                border: none;
                border-radius: 3px;
                color: black;
                text-align: center;
                
                .odd {
                        background-color: #fff;
                    
                    }
    
                .even {
                        background-color: $light-bg;
                    }

            }
        }
    }
}
