.menu-wrapper {
    background-color: rgba(135, 29, 59, 0.91);
    height: 100%;
}


.fcblogo {
    text-align: center;
    padding-top: 25px;
    margin-bottom: -40px;
}


.menu-items-wrapper {
    ul {
        display: inline;
    }
    width: 100%;
    margin-top: 50px;
    .menu-items {

        .menu-item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid white;
            a {
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 28px;
                &:hover {
                    background-color: white;
                    text-decoration: none;
                    .menu-item-text {
                        color: $primary-color;
                        font-weight: bold;
                        transform: scale(1.1);
                    }
                    svg {
                        margin-right: -10px;
                        polygon {
                            fill: $primary-color;
                        }
                    }
                }
            }
            svg {
                height: 12px;
                width: 12px;
                float: right;
                transition: 0.2s all;
                polygon {
                    fill: white;
                }
            }
            .menu-item-text {
                color: white;
                display: inline-block;
                margin: 0;
                font-size: 18px;
                text-transform: capitalize;
                transition: 0.2s all;
                @include helvetica();
            }
        }
        .active {
            border-bottom: none;
            a {
                background-color: $yellow;
                .menu-item-text {}
            }
        }
    }
}
