.main-navbar{
  background-color: $secondary-color !important;
  display: flex;
  justify-content:flex-end;
}



.user-drop{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  height: 100%;
  .user-image{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .user-name{
    margin: 0;
    padding: 5px;
    font-size:16px;
    color: white;
    @include helvetica();
  }

  svg{
    width: 10px;
    height: 10px;
    transform: rotateZ(90deg);
  }

  .dropdown-menu{
    a{
        display: flex;
        align-items: center;
        color: $text-color;
        line-height: 20px;
        font-size: 16px;
        padding: 7px;
        @include helvetica();
        .dropdown-option{
          display: inline-block;
          margin: 0;
        }
        &:hover{
          background-color: $text-color;
          color: white;
          text-decoration: none;
          svg{
            path{
              fill: white;
            }
          }
        }

        svg{
          transform: rotateZ(0deg);
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
    }
  }
}
