.pointtablel-form{
	padding: 40px;
}



.point-table-wrapp{
	margin-top: 3% !important;
}
.point-table-btn{
	margin-top: 3% !important;
}

.create-teams-wrapper .nav-create-team input[class*=disable] {
    
    width: 138%;
}