.team-logo {
             height: 40px;
             width: 40px;
             border-radius: 100%;
         }
.buttons-wrapper {
	display: flex !important;
}

.create-team-btn {
	color:blue !important;
	margin-left: 153px !important;
}

.item-width-1 {
    width: 20px;
}

.item-width-2 {
    width: 50px;
}

.item-width-3 {
    width: 100px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	
	box-shadow: 1px 1px 12px rgba(0,0,0,.45098);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  box-shadow: 1px 1px 12px rgba(0,0,0,.45098);
}
