.nav-tour {
        .nav-name {
        width: 250px;
        text-align: center;
    }
}

.tour-items {

        background-color: $list-item-color;
        margin: 10px auto;
        color: $text-color;
        display: flex;
        justify-content: space-between;
        height: 150px;
        align-items: center;
        border-radius: 10px;
        padding: 0 25px;
        
                
        .tour-name {
            .error-label {
                display: block;
                margin: 0 auto;
        
                color: red;
                font-size: .9em;
                text-align: center;
                font-weight: 100;
            }
            
            /*button {
                display: block;
                margin: 0 auto;
                margin-top: 5px;
                font-size: .8em;
            }*/
            
            p {
                text-align: center;
                font-weight: 500;
            }
            
            
        }
       



        .action-button {
            cursor: pointer;
            svg {
                width: 26px;
                fill: $text-color;
                margin: 0 3px;
            }
            &:hover {
                svg {
                    transform: scale(1.2);
                }
            }
        }
            .disable {
                    background-color: #fff;
                }
                
        input {
            
            margin-left: 8px;
            width: 100%;
            &:placeholder {
                color: $text-color;
                font-size: 1.2em;
                
            }
            &:disabled {
                width: 100%;
                border: none;
                border-radius: 3px;
                color: black;
                text-align: center;
                
                .odd {
                        background-color: #fff;
                    
                    }
    
                .even {
                        background-color: #f4ebeb;
                    }

            }
        }
    }
